* {
    box-sizing: border-box;
}

:root{
    --color-fondo: #557ac53e;
    --color-producto: rgb(212, 234, 238);
    --color-carrito: #b3b9f2;
    --color-stock-bajo: red;
    --color-cartel: rgb(255, 0, 0);
}

body {
    background: var(--color-fondo);
    font-family: sans-serif;
    margin: 0;
    padding: 16px;
}

header {
    text-align: center;
}

article {
    transition: background 0.2s ease;
    
}

article:hover {
    background: #9dc8e4;
    transform: scale(1.05);
}

.escaparate {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    .escaparate {
        flex-direction: row;
    }
}

.catalogo {
    flex: 3;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.producto {
    flex: 1 1 180px;
    background: var(--color-producto);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.precio {
    font-weight: bold;
}

.carrito {
    flex: 1;
    background: var(--color-carrito);
    border-radius: 8px;
    padding: 12px;
    min-height: 200px;
        transition: background 0.2s ease;
}

.carrito:hover {
    background-color: #9198e8;
    transform: scale(1.05);
}

.cartel {
    color: rgb(254, 254, 254);
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 0, 0);
}

.stock-bajo{
    border-color: var(--color-stock-bajo);
    border-width: 5px;
}